@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Start Styling navbar*/
.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    font-family: "poppins",sans-serif;
    z-index: 999;
    padding:15px 0px 15px;
    transition: all 0.3s ease;
    user-select: none;
}  

.navbar.scroll{
    padding:5px 0px 5px;
    background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    box-shadow: 5px 0px 5px 5px rgba(255, 255, 255, .2);
}

.navbar .logo a{
    color:#833ab4;
    font-size: 33px;
    font-weight: 700;
    border: 2px solid #833ab4;
    border-radius: 5px;
    padding: 0px 10px 0px;
    transition: all 0.s ease;
}

.navbar.scroll .logo a{
    border: 1px solid #fff;
}

.navbar .logo a span{
    font-style: italic;
    font-size: 26px;
    letter-spacing: 2px;
}

.navbar li a{
    color: #000000;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar li a:hover{
    color:#833ab4;
}

.navbar li{
    display: inline-block;
    margin: 0px 15px 0px;
    list-style: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    margin:auto;
}
/* End Styling navbar*/

/* Start - Gradiant and modifications*/
.index{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ; */
    background-color: #ffff;
    background-size: 400%;
    position:absolute;
    animation: change 15s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.animationcss{
    width: 100%;
    height: 3000px;
    background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ;
    background-size: 400%;
    position:absolute;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* End - Gradiant and modifications*/

/* Start - Home section */
.home-section{
    display: flex;
    color: #0e0e0e;
    font-family: "poppins",sans-serif;
    margin-top: 230px;
}

.home-section .max-width{
    margin: auto 0 auto 80px;
}

.home-section .body-content .text-1{
    font-size: 45px;
    font-weight: 600;
}

.home-section .body-content .text-2{
    font-size: 75px;
    font-weight: 600;
    color: #833ab4;
 
}

.home-section .body-content .text-3{
    font-size: 50px;
    font-weight: 600;
}


.home-section .text-typing{
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 45px;
    font-weight: 500;
    padding-left: 10px;
    color:#FFFF;
    background-color: #833ab4;

}

.content-inline-block h1{
    display: inline-block;
}

.picture-presentation img{
    position: absolute;
    top: 170px;
    right:200px;
    width: 400px;
    height:auto;
}

.content-body{
    position: relative;
}
/* End - Home section */

/* Start AnimationsCSS page */
#blocpage{
    font-family: "poppins",sans-serif;
    width: 100%;
    margin:auto;
    color:#fff;
}

.content-menu-box-fixed{
    font-size: 12px;
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 200px;
    left:0px;
    width:300px;
    padding: 25px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease;
}

.animation-section{
    display: flex;
    position: relative;
    top:120px;
}

.content-menu-listing ul{
    position: relative;
    padding: 0;
}

.content-menu-listing li {
    position: relative;
    display: table;
    list-style: none;
    cursor: pointer;
    padding-left: 34px;
    margin: 10px 10px;
}

.content-menu-listing li::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:24px;
    height: 24px;
    background: transparent;
    border-radius: 24px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    transition: background 0.4s, width 0.4s, border 0.4s;
    transition-delay: 0.2s, 0s, 0s;
}


.content-menu-listing li::after{
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    top:8px;
    left:7px;
    transition: 0.3s all ease;
    transition-delay: 0.2s;
}

.content-menu-listing li:hover::after{
    left:15px;
}

.content-menu-listing li:hover::before{
    width: 100%;
    background: #833ab4;
    border-color: #833ab4;
    transition-delay: 0s, 0.2s, 0s;
}

.content-menu-listing li p{
    position: relative;
    z-index:10;
    padding:3px 15px 0 0;
}

.animations-content{
   margin-left: 300px;
   font-size: 25px;
}

.button-animation{
    display: flex;
    align-items: center;
}

.content-cicrle{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background-color: #833ab4;
    border-radius: 5px;
    margin-right: 30px;
}

.content-menu-name-box h1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    user-select: none;
    margin-bottom: 5px;
    border-bottom: 2px solid #Ffff;
    border-radius: 1px;
}

#check{
    display: none;
    position: fixed;
}

label #btnCancel, label #btnOpen{
    position: absolute;
    cursor: pointer;
}

label #btnCancel{
    left:10px;
    top: 210px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 999;
    transition: scale 0.3s ease, left 0.3s, color 0.3s;
    transition-delay: 0s, 0.3s, 0s;
    scale: 1;
}

label #btnOpen{
    left:-50px;
    top: 210px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 999;
    transition: scale 0.3s ease, left 0.3s, color 0.3s;
    transition-delay: 0s, 0.3s, 0s;
    scale: 1;
}

#btnCancel:hover, #btnOpen:hover{
    transform: scale(1.15);
    color: #833ab4;
}

#check:checked ~ .animation-section .content-menu-box-fixed{
    left:-300px;
}

#check:checked ~ label #btnCancel{
    left:-50px;
}

#check:checked ~ label #btnOpen{
    left: 10px;
}
/* End AnimationsCSS page */ 