@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Start Styling navbar*/
.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    font-family: "poppins",sans-serif;
    z-index: 999;
    padding:15px 0px 15px;
    transition: all 0.3s ease;
    user-select: none;
}  

.navbar.scroll{
    padding:5px 0px 5px;
    background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    box-shadow: 5px 0px 5px 5px rgba(255, 255, 255, .2);
}

.navbar .logo a{
    color:#ffffff;
    font-size: 33px;
    font-weight: 300;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0px 10px 0px;
    transition: all 0.s ease;
}

.navbar.scroll .logo a{
    border: 1px solid #fff;
}

.navbar .logo a span{
    font-style: italic;
    font-size: 26px;
    letter-spacing: 2px;
}

.navbar li a{
    color: #ffffff;
    font-size: 18px;
}

.navbar li{
    display: inline-block;
    margin: 0px 15px 0px;
    list-style: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    margin:auto;
}
/* End Styling navbar*/

/* Start - Gradiant and modifications*/
.index{
    width: 100%;
    height: 100vh;
    background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ;
    background-size: 400%;
    position:absolute;
    animation: change 15s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.animationcss{
    width: 100%;
    height: 3000px;
    background: linear-gradient( 45deg,#833ab4,#fd621d, #fcb045) ;
    background-size: 400%;
    position:absolute;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* End - Gradiant and modifications*/

/* Start - Home section */
.home-section{
    display: flex;
    color: #fff;
    font-family: "poppins",sans-serif;
    margin-top: 230px;
}

.home-section .max-width{
    margin: auto 0 auto 80px;
}

.home-section .body-content .text-1{
    font-size: 27px;
    font-weight: 300;
}

.home-section .body-content .text-2{
    font-size: 75px;
    font-weight: 600;
 
}

.home-section .body-content .text-3{
    font-size: 45px;
    font-weight: 300;
}


.home-section .text-typing{
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 45px;
    font-weight: 500;
    padding-left: 10px;

}

.content-inline-block h1{
    display: inline-block;
}
/* End - Home section */

/* Start AnimationsCSS page */
#blocpage{
    font-family: "poppins",sans-serif;
    width: 100%;
    margin:auto;
    color:#fff;
}

.content-menu-box-fixed{
    font-size: 12px;
    position: fixed;
    margin-top: 50px;
    left:-250px;
    width:250px;
    padding: 25px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease;
}

.animation-section{
    display: flex;
    position: relative;
    top:120px;
}

.content-menu-listing li {
    list-style: none;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.content-menu-listing li:hover {
    padding-left: 30px;
    color:#833ab4;
    font-weight: 600;
}

.animations-content{
   margin-left: 300px;
   font-size: 25px;
}

.button-animation{
    display: flex;
    align-items: center;
}

.content-cicrle{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background-color: #833ab4;
    border-radius: 5px;
    margin-right: 30px;
}

.content-menu-name-box{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    user-select: none;
}

#check{
    display: none;
    position: fixed;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn{
    left:5px;
    top: 173px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease;
}

#check:checked ~ .animation-section .content-menu-box-fixed{
    left:0;
}
#check:checked ~ label #btn{
    left:215px;
    transform: rotate(180deg);
}


/* End AnimationsCSS page */ 